
<footer class="contenedor" id="about">
           
            <div class="links">
                <div class="information" style="width: 33%;">
                    <a href="./home" style="text-decoration: none; color: white;"> Home</a>
                    <a href="./signin" style="text-decoration: none; color: white;"> Inicia Sesion</a>
                    <a href="./signup" style="text-decoration: none; color: white;"> Registrate</a>

                </div>
                <div class="information" style="width: 33%;">
                    <a href="/registerDoctor" style="text-decoration: none; color: white;"> Registro Especialista</a>
                    <a href="/registerPatient" style="text-decoration: none; color: white;"> Registro Usuario</a>
                    <a href="./about" style="text-decoration: none; color: white;"> Acerca de Nosotros</a>
                </div>  
                <div class="information" style="width: 33%;">
                    <a href="./contact" style="text-decoration: none; color: white;"> Contactanos</a>
                    <a href="./carrera" style="text-decoration: none; color: white;"> Trabajos</a>
                </div>  
            </div> 
            


            <div class="socialMedia">
                <!-- Twitter -->
                    <a class="" href="https://twitter.com/" target="https://twitter.com/" role="button"
                    ><img src="./assets/img/1.png" alt="" style="width: 30px"></a>
                
                <!-- Google -->
                    <a class="" href="https://www.google.com/" target="https://www.google.com/" role="button"
                    ><img src="./assets/img/2.png" alt="" style="width: 30px"></a>
                
                <!-- Instagram -->
                    <a class="" href="https://www.instagram.com/" target="https://www.instagram.com/" role="button"
                    > <img src="./assets/img/3.png"alt="" style="width: 30px"></a>
                
                <!-- Playstore -->
                    <a class="" href="https://play.google.com/" target="https://play.google.com/" role="button"
                    > <img src="./assets/img/4.png"alt="" style="width: 30px"></a>
                
                <!-- Appstore -->
                    <a class="" href="https://www.apple.com/app-store/" target="https://www.apple.com/app-store/" role="button"
                    > <img src="./assets/img/5.png"alt="" style="width: 30px"></a>
            </div>

            <div class="copy">
                <small>Copyrights 2021</small>
                <small> Developed by Motiondev</small>
            </div>
</footer>
    
            <script
                src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"
            ></script>
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                crossorigin="anonymous"
            ></script>

    