.footer{
    display: flex;
    flex-flow: column wrap;
    width: 100% !important;
    
}

.links{
    display: flex;
    flex-flow: row wrap;
    background-color: #458FF6;
    width: 100%;
    padding: 2px;
    justify-content: center;
    text-align: center;
    height:150px;
}

.information{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}

.contenedor a{
    margin-top: 15px;
}

.socialMedia{
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8d3f6f;
    
}

.copy{
    display: flex;
    justify-content: space-between;
    background-color: rgb(182, 182, 182);
}