<div class="container-fluid mt-1">
  <h5 class="color-titles mb-3">Administración de Doctores</h5>
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4 px-0">
      <div class="card">
        <div class="card-header bg-blue text-light">
          <h6 class="mb-0">Editar Doctor</h6>
        </div>
        <div class="card-body cardOverflow">
          <form #createForm="ngForm">
            <div class="form-group">
              <label for="identificacion" class="text-muted"> <small> Identificacion </small></label>
              <input
                #name="ngModel"
                [(ngModel)]="userService.selectedUser.identificacion"
                type="text"
                class="form-control bg-light"
                id="identificacion"
                name="identificacion"
                aria-describedby="identificacion"
                placeholder="Ingrese su identificacion"
                required
                autofocus
              />
            </div>

            <div class="form-group">
              <label for="nombre" class="text-muted"> <small> Nombre</small></label>
              <input
                #name="ngModel"
                [(ngModel)]="userService.selectedUser.nombre"
                type="text"
                class="form-control bg-light"
                id="nombre"
                name="nombre"
                aria-describedby="nombre"
                placeholder="Ingrese su nombre"
                required
              />
            </div>

            <div class="form-group">
              <label for="apellidos" class="text-muted"> <small> Apellidos</small></label>
              <input
                #name="ngModel"
                [(ngModel)]="userService.selectedUser.apellidos"
                class="form-control bg-light"
                id="apellidos"
                name="apellidos"
                aria-describedby="apellidos"
                placeholder="Ingrese sus apellidos"
                required
              />
            </div>

            <div class="form-group">
              <label for="fechaNacimiento" class="text-muted"> <small> FechaNacimiento</small></label>
              <input
                #name="ngModel"
                [(ngModel)]="userService.selectedUser.fechaNacimiento"
                type="date"
                class="form-control bg-light"
                id="fechaNacimiento"
                name="fechaNacimiento"
                aria-describedby="fechaNacimiento"
                placeholder="Seleccione su fecha de nacimiento"
                required
              />
            </div>

            <div class="form-group">
              <label for="ciudad" class="text-muted"> <small> Ciudad</small></label>
              <input
                #name="ngModel"
                [(ngModel)]="userService.selectedUser.ciudad"
                type="text"
                class="form-control bg-light"
                id="ciudad"
                name="ciudad"
                aria-describedby="ciudad"
                placeholder="Ingrese su ciudad"
                required
              />
            </div>

            <div class="form-group">
              <label for="direccion" class="text-muted"> <small> Dirección</small></label>
              <input
                #name="ngModel"
                [(ngModel)]="userService.selectedUser.direccion"
                type="text"
                class="form-control bg-light"
                id="direccion"
                name="direccion"
                aria-describedby="direccion"
                placeholder="Ingrese su direccion"
                required
              />
            </div>

            <div class="form-group">
              <label for="celular" class="text-muted"> <small> Celular </small></label>
              <input
                #name="ngModel"
                [(ngModel)]="userService.selectedUser.celular"
                type="text"
                class="form-control bg-light"
                id="celular"
                name="celular"
                aria-describedby="celular"
                placeholder="Ingrese su celular"
                required
              />
            </div>

            <div class="form-group">
              <label for="tp" class="text-muted"> <small> Tarjeta Profesional </small></label>

              <input
                #name="ngModel"
                [(ngModel)]="userService.selectedUser.tp"
                type="text"
                class="form-control bg-light"
                id="tp"
                name="tp"
                aria-describedby="tp"
                placeholder="Ingrese número de tarjeta profesional"
                required
              />
            </div>

            <div class="form-group">
              <label for="ipsAsociado" class="text-muted"> <small> IPS Asociado </small></label>
              <input
                #name="ngModel"
                [(ngModel)]="userService.selectedUser.ipsAsociado"
                type="text"
                class="form-control bg-light"
                id="ipsAsociado"
                name="ipsAsociado"
                aria-describedby="ipsAsociado"
                placeholder="Ingrese ips asociado"
                readonly
              />
              <select
                class="form-control"
                id="ipsAsociado"
                name="ipsAsociado"
                aria-describedby="ipsAsociado"
                placeholder="Ingrese IPS Asociado"
                required
              >
                <option value="">Seleccione Opcion</option>
                <option
                  *ngFor="let ips of this.ipsService.ips"
                  value="{{ ips.identificacion }}"
                >
                  {{ ips.razonSocial }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="especialidad" class="text-muted"> <small> Especialidad</small> </label>

              <input
                #name="ngModel"
                [(ngModel)]="userService.selectedUser.especialidad"
                type="text"
                class="form-control bg-light"
                id="especialidad"
                name="especialidad"
                aria-describedby="especialidad"
                placeholder="Ingrese la especialidad"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="hidden"
                class="form-control bg-light"
                id="role"
                name="role"
                aria-describedby="role"
                required
              />
            </div>

            <button class="btn btn-block btn-success mt-2" (click)="save(createForm)">
              Guardar
            </button>

            <button class="btn btn-block btn-dark" (click)="clean(createForm)">
              Limpiar
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-7 col-lg-8 pr-0">
      
      <div class="card">
        <div class="card-header bg-dark text-light">
          <h6 class="mb-0">Listado de doctores</h6>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive font-13">
            <table class="table text-center mt-0">
              <thead class="bg-light color-blue">
                <tr>
                  <th scope="col">Identificacion</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">fechaNacimiento</th>
                  <th scope="col">Ciudad</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let doctor of userService.doctors">
                  <td class="pt-3">{{ doctor.identificacion }}</td>
                  <td class="pt-3">{{ doctor.nombre }}</td>
                  <td class="pt-3">{{ doctor.apellidos }}</td>
                  <td class="pt-3">{{ doctor.fechaNacimiento }}</td>
                  <td class="pt-3">{{ doctor.ciudad }}</td>
                  <td>
                    <button class="btn btn-light mr-2 btn-sm rounded-circle pt-1" (click)="fillFields(doctor)">
                      <i class="bi bi-pencil-fill color-blue"></i>
                    </button>
                    <button class="btn btn-light btn-sm rounded-circle pt-1" (click)="deleteDoctor(doctor._id)">
                      <i class="bi bi-trash-fill text-danger"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
