<nav class="navbar navbar-light sticky-top bg-white flex-md-nowrap p-0 shadow-sm">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3 text-center text-md-left text-white main-font font-weight-bold mt-0" href="#"> <img src="assets/img/app-icon-white.svg" class="ml-2" height="30" alt="logo-app"> KnockDoc</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Dropdown -->
    <div class="btn-group dropleft d-none d-md-inline-block mr-2 main-font">
      <button type="button" class="btn dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="font-14"> Jhon Doe </span> <i class="bi bi-person-circle"></i>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><i class="bi bi-person mr-2"></i> Perfil</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="bi bi-gear mr-2"></i> Modo Oscuro</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="bi bi-box-arrow-left mr-2"></i>Cerrar sesión</a>
      </div>
    </div>
</nav>
