.dash-btn{
    font-family: var(--spartan);
    font-size: 13px;
    font-weight: 600;
}

.logout-link{
    color: #424242;
    font-family: var(--spartan);
    font-size: 13px;
    font-weight: 600;
}
