<app-navbar></app-navbar>

<div class="container">
  <div class="row p-lg-5 mx-auto my-5">
    <div class="col-12 col-lg-6 txt-col d-flex align-items-center">
      <div class="mt-5 mt-lg-0">
        <h3 class="mt-5 mt-lg-0">Conecta con los profesionales</h3>
        <p>
          Con KnockDoc podrás encontrar a los profesionales en distintas áreas
          de medicina, Una experiencia única de servicio...
        </p>

        <div class="d-flex">
          <a href="/registerPatient ">
            <button class="btn btn-knock py-2 px-3 mt-1 mr-2">
              Buscar un profesional
            </button>
          </a>
        </div>
        <div>
          <a href="/registerDoctor">
            <button class="btn btn-knock-secondary py-2 px-3 mt-1">
              Registrarme como especialista
            </button>
          </a>
        </div>

        <div class="mt-4">
          <h3>
            +20.000 Pacientes <br />
            +2.000 Profesionales
          </h3>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 img-col">
      <img src="assets/img/hero_image.png" alt="" />
    </div>
  </div>
</div>

<!-- Que es KnockDoc -->
<div class="whatIsKnockDoc bg-light" id="whatis">
  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-6 pt-5">
        <div>
          <img
            src="./assets/img/what is knockdoc.png"
            width="500"
            height="500"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-12 col-md-6 pt-5 d-flex align-items-center">
        <div class="">
          <div>
            <h3 class="text-center pb-4">¿Qué es knockDoc?</h3>
            <p class="px-md-5 pb-3">
              Es una plataforma, que permite agendar citas médicas de manera
              virtual, rápida y sencillamente, acercándote a más de 2000
              especialistas en diferentes áreas. El objetivo es ofrecer un
              excelente servicio, mejorando la calidad de vida de nuestros
              clientes.
            </p>
            <div class="text-center">
              <button class="btn saberMas">
                <a class="nav-link" routerLink="/about">Saber más</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Servicios -->
<section class="mb-5 mt-5" id="services">
  <div class="container">
    <div class="container mt-5 mx-center text-center">
      <h3 class="text-muted">Nuestros Servicios</h3>
      <img
        class="mx-5"
        width="150"
        height="50"
        src="./assets/img/linea.svg"
        alt="linea"
      />
    </div>
    <p class="d-flex justify-content-center text-muted">
      Podrás encontrar los mejores profesionales de la salud en sus distintas
      especialidades al alcance de un clic
    </p>
    <div class="d-flex justify-content-center">
      <div class="row d-flex justify-content-center">
        <div
          class="col-12 col-sm-6 col-md-3 m-4 bg-claer shadow"
          style="height: 200px; border-radius: 8px"
        >
          <img
            class="mr-2 mt-3"
            width="50"
            height="50"
            src="./assets/img/lupa.svg"
            alt="lupa"
          />
          <h6 class="mr-2 mt-3">Busca Profesionales</h6>
          <p class="mr-2 mt-2 font-weight-lighter small">
            Busca los mejores médicos, en más de 10 especialidades diferentes.
          </p>
        </div>
        <div
          class="col-12 col-sm-6 col-md-3 m-4 bg-claer shadow"
          style="height: 200px; border-radius: 8px"
        >
          <img
            class="mr-2 mt-3"
            width="50"
            height="50"
            src="./assets/img/histcli.svg"
            alt="Historial"
          />
          <h6 class="mr-2 mt-3">Historial Clínico</h6>
          <p class="mr-2 mt-2 font-weight-lighter small">
            Administra tus citas médicas, haz seguimiento de tu proceso, lleva
            el control de tu salud.
          </p>
        </div>
        <div
          class="col-12 col-sm-6 col-md-3 m-4 bg-claer shadow"
          style="height: 200px; border-radius: 8px"
        >
          <img
            class="mr-2 mt-3"
            width="50"
            height="50"
            src="./assets/img/COVID19.svg"
            alt="covid"
          />
          <h6 class="mr-2 mt-3">COVID-19</h6>
          <p class="mr-2 mt-2 font-weight-lighter small">
            Atención por COVID-19, toma de pruebas PCR, análisis de laboratorio.
          </p>
        </div>
        <div
          class="col-12 col-sm-6 col-md-3 m-4 bg-claer shadow"
          style="height: 200px; border-radius: 8px"
        >
          <img
            class="mr-2 mt-3"
            width="50"
            height="50"
            src="./assets/img/pediatria.svg"
            alt="aprimaria"
          />
          <h6 class="mr-2 mt-3">Atención Primaria</h6>
          <p class="mr-2 mt-2 font-weight-lighter small">
            Atención a la primera infancia, recuerda de o a 3 años está el
            futuro de la salud en los niños.
          </p>
        </div>
        <div
          class="col-12 col-sm-6 col-md-3 m-4 bg-claer shadow"
          style="height: 200px; border-radius: 8px"
        >
          <img
            class="mr-2 mt-3"
            width="50"
            height="50"
            src="./assets/img/dentista.svg"
            alt="dentista"
          />
          <h6 class="mr-2 mt-3">Odontología</h6>
          <p class="mr-2 mt-2 font-weight-lighter small">
            Mantén tu salud oral, encuentra la sonrisa que sueñas y sonríe todo
            el tiempo.
          </p>
        </div>
        <div
          class="col-12 col-sm-6 col-md-3 m-4 bg-claer shadow"
          style="height: 200px; border-radius: 8px"
        >
          <img
            class="mr-2 mt-3"
            width="50"
            height="50"
            src="./assets/img/ginec.svg"
            alt="ginecologia"
          />
          <h6 class="mr-2 mt-3">Ginecología</h6>
          <p class="mr-2 mt-2 font-weight-lighter small">
            Tu zona íntima es muy importante, tu futuro también, estamos aquí.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Experiencias -->
<div class="container mt-5">
  <div class="row mt-5" id="insights">
    <div class="col-12 mt-5">
      <section
        class="head"
        style="
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          text-align: center;
          line-height: 20px;
        "
      >
        <div class="exp-title">
          <h3 class="text-muted">Experiencias KnockDoc</h3>
          <img
            class="mx-5"
            width="150"
            height="50"
            src="./assets/img/linea.svg"
            alt="linea"
          />
        </div>
        <!-- Linea horizontal -->
        <div class="hr"></div>
        <!-- Texto -->
        <div class="text-container">
          <p class="d-flex justify-content-center text-muted mb-4">
            Nuestros clientes satisfechos son la más grande demostración de que
            lo estamos haciendo bien. Únete y sé parte de nuestra comunidad.
            <br />
            Aquí podrás encontrar algunos de sus testimonios.
          </p>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- Contenedor de tarjetas  -->
      <section class="row">
        <!-- Primera tarjeta de experiencia -->
        <div class="col-12 col-lg-4 h-100">
          <div class="card card-box pt-2">
            <div class="card-header pl-3 bg-transparent border-0">
              <img
                src="./assets/img/exp1.svg"
                class="card-img-top"
                id="user1"
              />
              <label for="user1" class="user-name mb-0">
                <h5 class="mb-0 mt-2">Leonardo Rojas</h5>
              </label>
            </div>
            <div class="card-body p-3">
              <p class="d-flex justify-content-center text-muted">
                La diferencia entre los demás servicios para agendar citas y
                KnockDoc son gigantes, 100% rapidez y eficiencia, el poder ir a
                una cita cerca de mí hogar es un privilegio que no tenía antes.
              </p>
            </div>
          </div>
        </div>

        <!-- Segunda tarjeta de experiencia -->
        <div class="col-12 col-lg-4 h-100">
          <div class="card card-box pt-2">
            <div class="card-header pl-3 bg-transparent border-0">
              <img
                src="./assets/img/exp3.svg"
                class="card-img-top"
                id="user1"
              />
              <label for="user1" class="user-name mb-0">
                <h5 class="mb-0 mt-2">Cristina Andrade</h5>
              </label>
            </div>
            <div class="card-body p-3">
              <p class="d-flex justify-content-center text-muted">
                Me la recomendó mí amiga y hoy tuve la cita con la Doctora
                Palacios, nunca había pensado que el sistema de salud podría
                cambiar tan drásticamente, quedé totalmente enamorada de este
                servicio.
              </p>
            </div>
          </div>
        </div>

        <!-- Tercera tarjeta de experiencia -->
        <div class="col-12 col-lg-4 h-100">
          <div class="card card-box pt-2">
            <div class="card-header pl-3 bg-transparent border-0">
              <img
                src="./assets/img/exp2.svg"
                class="card-img-top"
                id="user1"
              />
              <label for="user1" class="user-name mb-0">
                <h5 class="mb-0 mt-2">Ignacio Redondo</h5>
              </label>
            </div>
            <div class="card-body p-3">
              <p class="d-flex justify-content-center text-muted">
                Aquí en Ciudad de México, es la aplicación de moda, nuestro
                sistema de salud no es muy bueno, pero realmente esta aplicación
                ha cambiado la manera en que todo funciona, gracias carnales.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<app-footer></app-footer>
