<div class="contenedor1">
    <form class="form">
        <h2>Contactanos</h2>
        <p type="Nombre:"><input placeholder="Escribe tu nombre aqui"></p>
        <p type="Correo:"><input placeholder="Dejanos saber como contactarte"></p>
        <p type="Mensaje:"><input placeholder="Que te gustaria decirnos"></p>
        <button>Send Message</button>
        <div>
        <span class="fa fa-phone"></span>319 123 45 67
        <span class="fa fa-envelope-o"></span> contact@knockdoc.com
        </div>
    </form>
</div>