<div class="container-fluid mt-1">
    <h5 class="color-titles mb-3">Listado de citas médicas</h5>
    <div class="row">

      <!-- Cita medica -->
      <div class="col-12" *ngFor="let appointment of appoinmentService.appoinments">
            <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-3 text-center bg-light mt-0 d-flex justify-content-center align-items-center">
                    <div>
                        <h2> <i class="bi bi-calendar color-magenta"></i> </h2>
                        <p class="mb-1 font-14">{{ appointment.date }}</p>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-3 pl-4 d-block d-lg-flex justify-content-between">
                        <div>
                            <div class="d-block d-sm-flex">
                                <h5 class="card-title color-blue mr-2 mb-1">{{ appointment.specialty }}</h5>
                                <h5 class="card-title text-muted mb-1">{{ appointment.ips }}</h5>
                            </div>
                            <p class="card-text mb-0">Doctor: <strong> {{ appointment.doctorName }} </strong></p>
                            <p class="card-text"><small class="text-muted"> {{appointment.location}} </small></p>
                        </div>
                        <div>
                            <p class="card-text mb-0 mb-sm-2"> <small>Estado: <strong> {{ appointment.status }} </strong> </small></p>
                            <button type="button" class="btn bg-magenta btn-sm mt-1 text-light font-600"><i class="bi bi-x"></i> Cancelar cita</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
      </div>
      
    </div>
</div>