<app-navbar></app-navbar>

<div class="container">

    <div class="contenido">
        <h1>KnockDoc</h1>
        <p>
            Somos una plataforma, que permite agendar citas médicas de manera virtual, rápida y sencillamente, acercándote a más de 2000 especialistas en diferentes áreas. El objetivo es ofrecer un excelente servicio, mejorando la calidad de vida de nuestros clientes.
            <br>
            <br>
            La fragmentación del sistema de salud limita el acceso y la oportunidad de los pacientes a las consultas con médicos generales y especialistas, adicionalmente algunas EPS tienen diferentes IPS que prestan servicios especializados, por lo que el paciente debe desplazarse en la mayoría de las ocasiones a lugares alejados de su residencia, incluso exponiéndose a otras enfermedades y con escasas posibilidades de una atención oportuna.
            <br>
            <br>
            Nosotros entramos al sistema de salud para lograr democratizar la salud y brindarle un mejor servicio a cada una de las partes del sistema, tanto Especialistas o Doctores como a usuarios y publico general.
        </p>
    </div>

    <div class="imagen">
        <img src="/assets/img/about.jpg">
    </div>

</div>

<app-footer></app-footer>