<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-blue border-0 shadow sidebar collapse">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column main-font">
        <li class="nav-item mb-3 ml-2">
          <a class="nav-link font-13 text-light font-400 active" href="#">
            Dashboard <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item mb-3 ml-2">
          <a class="nav-link font-13 text-light font-400" href="#">
            <i class="bi bi-plus-circle mr-2"></i> Mis citas
          </a>
        </li>
        <li class="nav-item mb-3 ml-2">
          <a class="nav-link font-13 text-light font-400" href="#">
            <i class="bi bi-plus-circle mr-2"></i> Nueva cita
          </a>
        </li>
        <li class="nav-item mb-3 ml-2">
          <a class="nav-link font-13 text-light font-400" href="#">
            <i class="bi bi-list-ul mr-2"></i> Mis citas
          </a>
        </li>
        <li class="nav-item mb-3 ml-2">
          <a class="nav-link font-13 text-light font-400" href="#">
            <i class="bi bi-people-fill mr-2"></i> Mis doctores
          </a>
        </li>
        <li class="nav-item mb-3 ml-2">
          <a class="nav-link font-13 text-light font-400" href="#">
            <i class="bi bi-credit-card-2-back mr-2"></i> Facturación
          </a>
        </li>
        <li class="nav-item mb-3 ml-2 d-inline-block d-md-none">
          <a class="nav-link font-13 text-light font-400" href="#">
            <i class="bi bi-person mr-2"></i> Perfil
          </a>
        </li>
        <li class="nav-item mb-3 ml-2 d-inline-block d-md-none">
          <a class="nav-link font-13 text-light font-400" href="#">
            <i class="bi bi-box-arrow-left mr-2"></i> Cerrar sesión
          </a>
        </li>

        <li class="nav-item mb-3 ml-2">
          <a class="nav-link font-13 text-light font-400" href="#">
            Work in progress...
          </a>
        </li>
      </ul>

      
      
    </div>
  </nav>