<section class="credit-card">
     <div class="container">
             
               <div class="card-holder">
                 <div class="tarjetas tarjeta1 bg-news">
                  <div class="row">
                   <div class="col-lg-3">
                   </div>   
                   <div class="col-lg-6">
                   
                   <form>
                     <div class="card-details">
                       <h3 class="title">Tarjeta Debito - Credito</h3>
                       <div class="row">
                         <div class="form-group col-sm-7">
                          <div class="inner-addon right-addon">
                           <label for="card-holder">Titular de la tarjeta </label>
                           <i class="far fa-user" style="margin-left: 10px;"></i>
                           <input id="card-holder" type="text" class="form-control" placeholder="Nombre del titular" aria-label="Card Holder" aria-describedby="basic-addon1">
                          </div>	
                         </div>
                         <div class="form-group col-sm-5">
                           <label for="">Fecha de expiracion</label>
                           <div class="input-group expiration-date">
                             <input type="month" class="form-control" aria-describedby="basic-addon1">
                           </div>
                         </div>
                         <div class="form-group col-sm-8">
                          <div class="inner-addon right-addon">
                           <label for="card-number ccn">Numero de la tarjeta</label>
                           <i class="far fa-credit-card" style="margin-left: 10px;"></i>
                           <input id="card-number" type="tel" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" class="form-control" aria-label="Card Holder" aria-describedby="basic-addon1">
                          </div>	
                         </div>
                         <div class="form-group col-sm-4">
                           <label for="cvc">CVC</label>
                           <input id="CVC" type="password" maxlength="4" class="form-control" placeholder="CVC" aria-label="Card Holder" aria-describedby="basic-addon1">
                         </div>
                         <div class="form-group col-sm-12">
                           <button type="button" class="btn btn-block">Procesar</button>
                         </div>
                       </div>
                     </div>
                   </form>				
                   
                   </div>
             
                  </div>
                 </div>
               </div>	 
               
    </div>
</section>

<section class="credit-card">
    <div class="container">
            
              <div class="card-holder">
                <div class="tarjetas bg-news">
                 <div class="row">
                  <div class="col-lg-3">
                  </div>   
                  <div class="col-lg-6">
                  
                  <form>
                    <div class="card-details">
                      <h3 class="title">Nequi - Daviplata</h3>
                      <div class="row">
                        <div class="form-group col-sm-6">
                         <div class="inner-addon right-addon">
                          <label for="nombre1">Persona que envia </label>
                          <input id="nombre1" type="text" class="form-control" placeholder="Persona que envia" aria-label="Card Holder" aria-describedby="basic-addon1">
                         </div>	
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="nombre2">Persona que recibe </label>
                            <input id="nombre2" type="text" class="form-control" placeholder="Persona que recibe" aria-label="nombre2" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group col-sm-8">
                         <div class="inner-addon right-addon">
                          <label for="Telefono">Numero de telefono</label>
                          <i class="bi bi-telephone" style="margin-left: 10px;"></i>
                          <input id="Telefono" type="text" class="form-control" placeholder="Numero de telefono" aria-label="Telefono" aria-describedby="basic-addon1">
                         </div>	
                        </div>
                        <div class="form-group col-sm-4">
                          <label for="Monto">Monto</label>
                          <input id="Monto" type="text" class="form-control" placeholder="Monto" aria-label="Monto" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group col-sm-12">
                          <button type="button" class="btn btn-block">Procesar</button>
                        </div>
                      </div>
                    </div>
                  </form>				
                  
                  </div>
            
                 </div>
                </div>
              </div>	 
              
   </div>
</section>

<section class="credit-card">
    <div class="container">
            
              <div class="card-holder">
                <div class="tarjetas bg-news">
                 <div class="row">
                  <div class="col-lg-3">
                  </div>   
                  <div class="col-lg-6">
                  
                  <form>
                    <div class="card-details">
                      <h3 class="title">Efectivo</h3>
                      <div class="row">
                        <div class="form-group col-sm-6">
                         <div class="inner-addon right-addon">
                          <label for="Especialistar">Especialista </label>
                          <input id="Especialista" type="text" class="form-control" placeholder="Especialista" aria-label="Card Holder" aria-describedby="basic-addon1">
                         </div>	
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="Usuario">Usuario </label>
                            <input id="Usuario" type="text" class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group col-sm-8">
                         <div class="inner-addon right-addon">
                          <label for="referencia">Referencia</label>
                          <i class="bi bi-chat-square-text" style="margin-left: 10px;"></i>
                          <input id="referencia" type="text" class="form-control" placeholder="Epecificar referencia y numero de cita" aria-label="Referencia" aria-describedby="basic-addon1">
                         </div>	
                        </div>
                        <div class="form-group col-sm-4">
                          <label for="monto">Monto</label>
                          <input id="monto" type="text" class="form-control" placeholder="Monto" aria-label="Monto" aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group col-sm-12">
                          <button type="button" class="btn btn-block">Procesar</button>
                        </div>
                      </div>
                    </div>
                  </form>				
                  
                  </div>
            
                 </div>
                </div>
              </div>	 
              
   </div>
</section>