<div class="container-fluid mt-1">
    <h5 class="color-titles mb-3">Mis pacientes</h5>
    <div class="row">

      <!-- Cita medica -->
      <div class="col-12" *ngFor="let appointment of appoinmentService.appoinments">
            <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-3 text-center bg-light mt-0 d-flex justify-content-center align-items-center">
                    <div>
                        <img src="assets/img/patient.svg" width="80" class="mt-1 mb-2"/>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-3 pl-4 d-block d-lg-flex justify-content-between">
                        <div>
                            <div class="d-block d-sm-flex">
                                <h5 class="card-title color-black mr-2 mb-1">{{ appointment.userName }}</h5>
                                <!--<h5 class="card-title text-muted mb-1">{{ appointment.ips }}</h5>-->
                            </div>
                            <p class="card-text mb-0">ID: {{ appointment.userId }}</p>
                             <!--<p class="card-text"><small class="text-muted"> {{appointment.userName}} </small></p>-->
                        </div>
                        <div>
                            <p class="card-text mb-0"> <small>Estado de paciente:  </small></p>
                            <div class="text-success font-600">Activo</div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
      </div>

    </div>
</div>
