<app-navbar></app-navbar>

<div class="contenedor1">

  <div class="contenedor2">
    <div class="container mt-2 mx-center" style="width: 400px;">
      <h3 class="text-muted">
        <b>Selecciona una opcion para registrarte</b>
      </h3>
    </div>
    <br />
    <br />
    <p class="d-flex justify-content-center text-muted mb-4">
      Con KnockDoc podrás encontrar a profesionales en distintas áreas de la
      medicina. Una experiencia única de servicio...
    </p>
</div>
  <!-- Seccion Register -->
  <div class="contenedor3 d-flex justify-content-center row">

    <button class="doc">
      <div class="doc-Con mr-2 rounded">
        <div class="docButtom py-2">
          <a routerLink="/registerDoctor">
            <h2>Especialista</h2>
          </a>
        </div>
        <a routerLink="/registerDoctor">
          <img
            src="./assets/img/doctor-woman.svg"
            style="
              height: 450px;
              width: 400px;
              margin-top: 70px;
            "
            class="imagen-register"
          />
        </a>
      </div>
    </button>
    
    <button class="pat">
      <div class="pat-Con rounded">
        <div class="patButtom py-2">
          <a routerLink="/registerPatient">
             <h2>Usuario</h2>
          </a>
        </div>
        <div>
          <a routerLink="/registerPatient">
            <img
              src="./assets/img/paciente.svg"
              style="height: 450px; width: 400px; margin-top: 70px"
              class="imagen-register"
            />
          </a>
        </div>
      </div>
    </button>
    </div>

    <app-footer></app-footer>