<app-container-navbar></app-container-navbar>

  <div class="container-fluid">
    <div class="row">
      <app-container-sidebar></app-container-sidebar>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 pt-4 main-font bg-lightgray vh-100">
          
        <h4 class="color-titles mb-3">Nueva cita</h4>
        <!-- <div class="card shadow-sm">
          <div class="card-header">
            <p class="font-13 mb-1">Ingresa los datos de la cita médica que deseas pedir</p>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleFormControlInput1" class="text-muted"> <small> Fecha de la cita </small></label>
                <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1" class="text-muted"> <small> Especialidad </small></label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option class="text-muted">Selecciona una opción...</option>
                  <option>Medicina general</option>
                  <option>Pediatría</option>
                  <option>Dermatología</option>
                  <option>Oftalmología</option>
                  <option>Odontología</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1" class="text-muted"> <small> Observaciones </small></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="card-footer bg-white d-flex justify-content-end">
            <button type="button" class="btn bg-magenta text-white px-4 font-weight-bold">Cancelar</button>
            <button type="button" class="btn bg-blue text-white px-4 ml-3 font-weight-bold">Solicitar cita</button>
          </div>
        </div> -->

        <app-admin></app-admin>
      </main>
    </div>
  </div>