<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-lg-6 py-5">
      <div
        class="d-flex align-items-center justify-content-center user-form-img"
      >
        <img
          src="./assets/img/userForm.svg"
          alt=""
          class="img-fluid mr-5"
          style="margin-left: 0"
        />
      </div>
    </div>

    <div class="col-12 col-lg-6 py-5">
      <h2>
        Bienvenido <br>
        <small class="font-italic">Por favor ingrese todos los datos</small>
      </h2>

      <div id="scroll">
        <div class="card border-0 mt-1">
          <div class="card-body border-0 shadow">
            <form
              #registerForm="ngForm"
              (ngSubmit)="registerForm.form.valid && signup(registerForm)"
            >
              <div class="form-group">
                <label for="identificacion">Numero de Identificacion</label>
                <input
                  #name="ngModel"
                  [(ngModel)]="userService.selectedUser.identificacion"
                  type="text"
                  class="form-control"
                  id="identificacion"
                  name="identificacion"
                  aria-describedby="identificacion"
                  placeholder="Ingrese su identificacion"
                  required
                  autofocus
                />
              </div>

              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input
                  #name="ngModel"
                  [(ngModel)]="userService.selectedUser.nombre"
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  aria-describedby="nombre"
                  placeholder="nombre"
                  required
                />
              </div>

              <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input
                  #name="ngModel"
                  [(ngModel)]="userService.selectedUser.apellidos"
                  type="text"
                  class="form-control"
                  id="apellidos"
                  name="apellidos"
                  aria-describedby="apellidos"
                  placeholder="Ingrese sus apellidos"
                  required
                />
              </div>

              <div class="form-group">
                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                <input
                  #name="ngModel"
                  [(ngModel)]="userService.selectedUser.fechaNacimiento"
                  type="date"
                  class="form-control"
                  id="fechaNacimiento"
                  name="fechaNacimiento"
                  aria-describedby="fechaNacimiento"
                  placeholder="Seleccione Fecha de nacimiento"
                  required
                />
              </div>

              <div class="form-group">
                <label for="ciudad">Ciudad</label>
                <input
                  #name="ngModel"
                  [(ngModel)]="userService.selectedUser.ciudad"
                  type="text"
                  class="form-control"
                  id="ciudad"
                  name="ciudad"
                  aria-describedby="ciudad"
                  placeholder="Ciudad"
                  required
                />
              </div>

              <div class="form-group">
                <label for="direccion">Direccion</label>
                <input
                  #name="ngModel"
                  [(ngModel)]="userService.selectedUser.direccion"
                  type="text"
                  class="form-control"
                  id="direccion"
                  name="direccion"
                  aria-describedby="direccion"
                  placeholder="Direccion"
                  required
                />
              </div>

              <div class="form-group">
                <label for="celular">Celular</label>
                <input
                  #name="ngModel"
                  [(ngModel)]="userService.selectedUser.celular"
                  type="text"
                  class="form-control"
                  id="celular"
                  name="celular"
                  aria-describedby="celular"
                  placeholder="Celular"
                  required
                />
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input
                  #name="ngModel"
                  [(ngModel)]="userService.selectedUser.email"
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  aria-describedby="email"
                  placeholder="Escriba su email"
                  required
                />
              </div>
              <div class="form-group">
                <label for="password">Contraseña</label>
                <input
                  #name="ngModel"
                  [(ngModel)]="userService.selectedUser.password"
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  aria-describedby="password"
                  placeholder="Escriba su contraseña"
                  required
                />
              </div>

              <div class="form-group">
                <label for="password">Repetir Contraseña</label>
                <input
                  type="text"
                  class="form-control bg-light"
                  id="password2"
                  aria-describedby="password2"
                  placeholder="Ingrese su contraseña nuevamente"
                  required
                />
              </div>

              <div class="form-group">
                <label for="role">Rol del usuario</label>
                <input
                  #name="ngModel"
                  [(ngModel)]="userService.selectedUser.role"
                  type="hidden"
                  class="form-control"
                  id="role"
                  name="role"
                  min="1"
                  value="2"
                />
              </div>

              <div class="mt-2">
                <button
                  type="submit"
                  class="btn btn-primary w-100 mb-2 rounded-pill"
                >
              </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="SignIn">
  <h6 class="text-dark"> ¿Ya tienes una cuenta? </h6>
  <a routerLink="/signin">
  <h6 style="margin-left: 15px;"> Inicia Sesión aquí </h6> 
  </a>
</div>