<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 d-flex justify-content-center">
      <div>
        <img
          src="./assets/img/userForm.svg"
          alt=""
          class="img-fluid mr-5 mt-2"
        />
      </div>
    </div>

    <div class="col-12 col-lg-6 mt-3">
      <h2>
        Bienvenido <br />
        <small class="font-italic">Por favor ingrese todos los datos</small>
      </h2>

      <div id="scroll">
        <div class="card border-0 mt-1">
          <div class="card-body border-0 shadow">
            <form novalidate [formGroup]="formulario" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="identificacion">Numero de Identificacion</label>
                <input
                  formControlName="identificacion"
                  type="text"
                  class="form-control"
                  id="identificacion"
                  name="identificacion"
                  aria-describedby="identificacion"
                  placeholder="Ingrese su identificacion"
                  required
                  autofocus
                />
                <span
                  *ngIf="
                    formulario.controls['identificacion'].errors?.required &&
                    submitted
                  "
                  class="text-danger"
                >
                  (La identificación no puede quedar vacío)
                </span>
              </div>

              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input
                  formControlName="nombre"
                  type="text"
                  class="form-control"
                  id="nombre"
                  name="nombre"
                  aria-describedby="nombre"
                  placeholder="nombre"
                  required
                />
                <span
                  *ngIf="
                    formulario.controls['nombre'].errors?.required && submitted
                  "
                  class="text-danger"
                >
                  (El nombre no puede quedar vacío)
                </span>
              </div>

              <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input
                  formControlName="apellidos"
                  type="text"
                  class="form-control"
                  id="apellidos"
                  name="apellidos"
                  aria-describedby="apellidos"
                  placeholder="Ingrese sus apellidos"
                  required
                />
                <span
                  *ngIf="
                    formulario.controls['apellidos'].errors?.required &&
                    submitted
                  "
                  class="text-danger"
                >
                  (Los apellidos no puede quedar vacío)
                </span>
              </div>

              <div class="form-group">
                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                <input
                  formControlName="fechaNacimiento"
                  type="date"
                  class="form-control"
                  id="fechaNacimiento"
                  name="fechaNacimiento"
                  aria-describedby="fechaNacimiento"
                  placeholder="Seleccione Fecha de nacimiento"
                  required
                />
                <span
                  *ngIf="
                    formulario.controls['fechaNacimiento'].errors?.required &&
                    submitted
                  "
                  class="text-danger"
                >
                  (La fecha no puede ir vacia)
                </span>
              </div>

              <div class="form-group">
                <label for="ciudad">Ciudad</label>
                <input
                  formControlName="ciudad"
                  type="text"
                  class="form-control"
                  id="ciudad"
                  name="ciudad"
                  aria-describedby="ciudad"
                  placeholder="Ciudad"
                  required
                />
                <span
                  *ngIf="
                    formulario.controls['ciudad'].errors?.required && submitted
                  "
                  class="text-danger"
                >
                  (La ciudad no puede ir vacia)
                </span>
              </div>

              <div class="form-group">
                <label for="direccion">Direccion</label>
                <input
                  formControlName="direccion"
                  type="text"
                  class="form-control"
                  id="direccion"
                  name="direccion"
                  aria-describedby="direccion"
                  placeholder="Direccion"
                  required
                />
                <span
                  *ngIf="
                    formulario.controls['direccion'].errors?.required &&
                    submitted
                  "
                  class="text-danger"
                >
                  (La direccion no puede quedar vacío)
                </span>
              </div>

              <div class="form-group">
                <label for="celular">Celular</label>
                <input
                  formControlName="celular"
                  type="text"
                  class="form-control"
                  id="celular"
                  name="celular"
                  aria-describedby="celular"
                  placeholder="Celular"
                  required
                />
                <span
                  *ngIf="
                    formulario.controls['celular'].errors?.required && submitted
                  "
                  class="text-danger"
                >
                  (El celular no puede quedar vacío)
                </span>
              </div>

              <div class="form-group">
                <label for="email">Correo Electronico</label>
                <input
                  formControlName="email"
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  aria-describedby="email"
                  placeholder="Escriba su email"
                  required
                />
                <span
                  *ngIf="
                    formulario.controls['email'].errors?.required && submitted
                  "
                  class="text-danger"
                >
                  (El email no puede quedar vacío)
                </span>
              </div>

              <div class="form-group">
                <label for="password">Contraseña</label>
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  aria-describedby="password"
                  placeholder="Escriba su contraseña"
                  required
                />
                <span
                  *ngIf="
                    formulario.controls['password'].errors?.required &&
                    submitted
                  "
                  class="text-danger"
                >
                  (La contraseña no puede quedar vacío)
                </span>
              </div>

              <div class="form-group">
                <label for="password">Repetir Contraseña</label>
                <input
                  formControlName="password2"
                  type="password"
                  class="form-control bg-light"
                  id="password2"
                  name="password2"
                  aria-describedby="password2"
                  placeholder="Ingrese su contraseña nuevamente"
                  required
                />
              </div>

              <div class="form-group">
                <input
                  type="hidden"
                  class="form-control"
                  id="role"
                  name="role"
                  aria-describedby="role"
                  required
                />
              </div>

              <div class="mt-2">
                <button
                  type="submit"
                  class="btn btn-primary w-100 mb-2 rounded-pill"
                >
                  Registrate
                </button>
              </div>
            </form>
            <div>{{ resultado }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="registeredPatient">
  <a routerLink="/signin">
    <span class="text-dark"> ¿Ya tienes una cuenta? </span>
    <span class="text-primary">Inicia Sesión aquí </span>
  </a>
</div>

<app-footer></app-footer>
