<div class="container-fluid mt-1">
    <h5 class="color-titles mb-3">Nueva cita médica</h5>
    <div class="row">
        <div class="col-12 col-sm-10 mx-auto">
            <div class="card">
                <h6 class="card-header text-muted">Ingresa los datos de la cita que deseas solicitar</h6>
                <div class="card-body">
                    
                    <form>
                    <h6 class="card-title mb-1 text-muted"> ¿Cuando necesitas la cita?</h6>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputEmail4" class="text-muted"><small>Fecha</small></label>
                        <input type="date" class="form-control" id="inputEmail4">
                      </div>

                      <div class="form-group col-md-6">
                        <label for="inputPassword4" class="text-muted"><small>Hora</small></label>
                        <input type="time" class="form-control" id="inputPassword4">
                      </div>
                    </div>

                    <div class="dropdown-divider mt-3"></div>

                    <h6 class="card-title mt-4 mb-1 text-muted">¿Qué especialidad necesitas?</h6>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState" class="text-muted"><small>Especialidad</small></label>
                            <select id="inputState" class="form-control">
                              <option selected>Choose...</option>
                              <option>...</option>
                            </select>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="inputState" class="text-muted"><small>Doctor</small></label>
                            <select id="inputState" class="form-control">
                              <option selected>Choose...</option>
                              <option>...</option>
                            </select>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                </div>
              </div>
        </div>
    </div>
</div>
